BASE_URL = ""
USERNAME = ""
PASSWORD = ""
# Test timeout in ms
GLOBAL_TIMEOUT = 60000
# Run the test against a random sampling of NPIs
RANDOM_SAMPLE = "true"
# Run the test against a subset of NPIs
NPI_LIST = []
