BASE_URL = ""
USERNAME = ""
PASSWORD = ""
# Test timeout in ms
GLOBAL_TIMEOUT = 60000
# Run the test against a random sampling of NPIs. RANDOM_QUANTITY specifies the number of random records that should be fetched (default 5)
RANDOM_SAMPLE = "true"
RANDOM_QUANTITY = 5
# Run the test against a subset of NPIs
NPI_LIST = "1003000100,1003000118,1003000126,1003000134,1003000142"
